/* You can add global styles to this file, and also import other style files */

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: rgb(255,111,106);
    background: radial-gradient(circle, rgba(255,111,106,1) 17%, rgba(255,197,146,1) 100%);    
    padding: 25px;
}

body, html {
    height: 100%;
    width: 100%;
    display: grid;
}
